#[link(name = "socket",
       vers = "0.1", 
       uuid = "AF82CEF5-A320-49C0-AE56-43129C5229D5",
       url = "https://github.com/AndresOsinski/rust-socket")];

#[comment = "Rust socket library"];
#[license = "MIT"];
#[crate_type = "lib"];

#[warn(implicit_copies)];
#[warn(unused_imports)];

extern mod std;

pub mod socket;
