#[link(name = "socket",
       vers = "0.1", 
       uuid = "AF82CEF5-A320-49C0-AE56-43129C5229D5",
       url = "https://github.com/jdm/rust-socket")];

#[comment = "Rust socket library"];
#[license = "MIT"];
#[crate_type = "lib"];

#[allow(non_camel_case_types)]; 
#[allow(implicit_copies)];							// TODO: enable more of these
#[allow(non_implicitly_copyable_typarams)];
#[allow(deprecated_mode)];
#[allow(deprecated_pattern)];
#[allow(unused_imports)];
#[allow(structural_records)];

use std;

mod socket;

